
{# {% if elements is defined and elements|length  and elements_html is defined %}

    {% for ele in elements %}
        {% for e in ele %}
            {{elements_html[ e['id'] ] | raw}}
        {% endfor %}
    {% endfor %}

{% endif %} #}

<div id="page_block">
    {% for p in params %}
    <div class="block_row" >
        {% for b in p %}

            <div class="block" style="width:{{b.width}}%;">
            {% if b.widgets is defined %}
                {% for widget in b.widgets %}
                    {# <div class="widget"> #}
                    {{widget | raw}}
                    {# </div> #}
                {% endfor %}
            {% endif %}
            </div>

        {% endfor %}
    </div>
    {% endfor %}
</div>