<html>
    <head>
        {# <link rel="stylesheet" href="css/bootstrap.css"> #}
        {# <link rel="stylesheet" href="css/bootstrapcsstheme.css"> #}
        <link rel="stylesheet" href="css/bootstrap-custom-stage.css">
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        {# <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script> #}
    <style>
   
     .block_row {
            width:100% ;
            /* background-color: #00ffff17; */
            /* margin:3px; */
            /* height: 100px; */
            display: block;
            display: flex;
            /* padding:5px; */
            /* position: absolute; */
            height: auto;
        }

        .block {
            /* background-color: #ecf5ee; */
            /* margin:3px; */
            /* border:1px dotted #d6d3d3; */
            display: block;
            /* width: 100%; */
            /* height: 100%; */
            min-height: 100px;
            float:left;

        }
        .block > span {
            padding:5px;

        }

        .split_btn {
            margin:0 auto;
            display: block;
        }
        .btn-group {
                margin: 0 auto;
        }
        .block_row_btn {
            margin:5px;
        }  

        .panel_widget {
            width: 100%;
            height: 100%;
            display: block;
        }

        #main_panel {
            width: 300px;
            left:-300px;
            height: 200px;
            display: block;
            background-color: rgb(166, 187, 194);
            z-index: 10;
            position: fixed;
        }
        .selected_block {
            background-color:pink;
        }
    </style>
    </head>
    <body>
        
    <div class="container-flex">
        <div class="row">
            <div class="col-sm-12">
                {% include 'page/content_bootstrap.html.twig' with {'params':params} %}
            </div>
        </div>
    </div>


    </body>
</html>