{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<form method="post">

<div class="container" style="padding:20px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" >
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Logowanie do serwisu</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            
        </div>
        <div class="col-3"></div>

    </div>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button class="btn  btn-success" type="submit">
                Zaloguj się
            </button>
        </div>
        <div class="col-3"></div>
    </div>

</div>
</form>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
           <span style="float:right;">
                <h5>Jeżeli nie masz konta, zapraszam do <a class="" href="/register">darmowej rejestracji.</a></h5> 
           </span>
        </div>
    </div>
</div>

{% endblock %}
