
.block {
    border:1px dotted #d6d3d3;
}

.widget {
    display: block;
    float: left;
}
.sample_action {
    float:right;
}
.sample_name {
    float:left;
    margin: 5px;
}
.sample_row {
    padding:3px;
    display: inline-block;
    width: 100%;
}
.sample_row_hover {
    -moz-box-shadow:    inset 0 0 10px rgba(255, 166, 0, 0.445);
    -webkit-box-shadow: inset 0 0 10px rgba(255, 166, 0, 0.445);
    box-shadow:         inset 0 0 10px rgba(255, 166, 0, 0.445);
}
.widget_options {
    display:none;
}

.panel_widget {
    width: 100%;
    height: 100%;
    display: block;
}

#main_panel {
    min-width: 300px;
    left:-1000px;
    display: block;
    z-index: 10;
    position: fixed;
    margin-top: 10px;
}
.selected_block {
    border-radius: 5px;
    -moz-box-shadow:    inset 0 0 10px rgba(19, 18, 18, 0.25);
    -webkit-box-shadow: inset 0 0 10px rgba(19, 18, 18, 0.25);
    box-shadow:         inset 0 0 10px rgba(19, 18, 18, 0.25);
}

#panel_sample {
    max-height: 300px;
    overflow: auto;
}
.sample_action  .button{
        padding: 4px 11px !important;
    }