.block {
    /* background-color: #ecf5ee; */
    /* border:1px dotted #d6d3d3; */
    width: 100%;
    height: 100%;
    min-height: 100px;
    /* border:1px dotted rgba(0, 0, 0, 0.075); */

}
  
.block_row {
        /* background-color: #00ffff17; */

    width:100% ;
    height: 100px;
    display: block;
}


/* ---- //*/
       .panel {
            display: block;
            /* width:200px;
            height:200px; */
            background-color: #ffffffe0;
            border: 1px solid #0043a81a;
            float:left;
            margin:1px 0px 0px 1px;
            padding:5px 10px;
            border-radius: 0px;
            -moz-box-shadow:    inset 0 0 10px #0043a81a;
            -webkit-box-shadow: inset 0 0 10px #0043a81a;
            box-shadow:         inset 0 0 10px #0043a81a;

            /* -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black; */
        }

        .button {
            margin:1px 0px 0px 1px;
            font-size: 14px;
            background-color: #313361;
            text-decoration: none;
            color:#fff;
            padding:10px 20px;
            border: 1px solid #8bc34a14;
            -moz-box-shadow:    inset 0 0 10px #000000a9;
            -webkit-box-shadow: inset 0 0 10px #000000a9;
            box-shadow:         inset 0 0 10px #000000a9;
            
        }

        .button:hover {
            text-decoration: none;
            /* background-color: #41cc4a3b; */
            background-color: #000;
            color:rgb(226, 255, 224);
            border: 1px solid #fff;
            -webkit-transition-duration: 0.3s; /* Safari */
            transition-duration: 0.3s;
        }
        .btn-left {
            float:left;
        }

        .widget {
            display:inline-block;
        }
        .widget_action {
            display:none;
            /* width:100px; */
            /* height:100px; */
            /* background-color:grey; */
            position: absolute;
            margin:-20px 25px;
            padding:3px;
        }

        .button-bar {
            font-size: 12px;
            width:50px;
            /* background-color:#ffffff00; */
            background-color: #313361;
            color:#fff;
            padding:4px 4px;
            border:0px;
            margin:2px 0px;
        }
        .button-bar:hover {
            -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.815);
	        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.815);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.815);
            background-color: #000;
            -webkit-transition-duration: 0.3s; /* Safari */
            transition-duration: 0.3s;
        }

      .main-bar {
            display: block;
            border-bottom:1px solid black;
            height:40px;
            margin-bottom:3px;
            background-color: #313361;
            color:#fff;
        }
        .main-bar-content {
            margin:0 auto;
            width: 30%;
        }
        .main-bar-text, .main-bar-text > a  {
            color:#fff;
            float:left;
        }
        .main-bar-text > a {
            padding:10px 25px;
        }
        .main-bar-sign {
            padding:10px; 
            float: left;
            font-weight: bold;
            color: #FFC107;
        }
        .main-bar-text > a:hover {
            -webkit-transition-duration: 0.3s; /* Safari */
            transition-duration: 0.3s;
            text-decoration: none;
        }
        .title-one > a:hover {
            background-color: #FF5722;
        }
        .title-two > a:hover {
            background-color: #8BC34A;
        }
        .title-three > a:hover {
            background-color: #2196F3;
        }
        .current-stage {
            border-bottom: 4px solid white !important;
            padding:8px 30px !important;
        }  

        #alert-info {
            display:none;
            position:fixed;
            min-width:100px;
            max-width:300px;
            word-break: break-all;
            min-height:20px;
            padding:20px;
            background-color:rgb(255, 255, 255);
            top: -4px;
            left: 70%;

            text-shadow: 2px 2px 5px rgb(212, 212, 212);
            font-weight: bold;
            color: #2e97a9;
        }


    .block:hover {
        /* background-color: pink; */
        /* -webkit-transition-duration: 0.3s; 
        transition-duration: 0.3s; */
        -moz-box-shadow:    inset 0 0 10px rgba(255, 166, 0, 0.445);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 166, 0, 0.445);
        box-shadow:         inset 0 0 10px rgba(255, 166, 0, 0.445);
        /* border:1px solid rgba(255, 166, 0, 0.445); */
    }
    .block-content {
        padding:5px;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .block-col {
        float:left;
        height: 100%;
        /* padding: 1%; */
    }
    .button-col, .button-col:active {
        background-color:#fff;
        color:orange;
        border: 1px solid #e6e6e6;
        padding:10px 20px;
        font-weight: bold;
    }

    .button-col:hover {
        background-color:rgb(255, 248, 233);
    
    }
