{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>

            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <br>
                <button type="submit" class="btn btn-success">Zarejestruj się</button>
            {{ form_end(form) }}
        </div>
        <div class="col-3"></div>

    </div>
</div>


{% endblock %}