
{% extends 'stages/bootstrap_framework/main.html.twig' %}

{% block body %}

{% include 'parts/stageBar.html.twig' with {'stage' : 'template'} %}

<div class="row-c">
    <div class="col">
        <div class="block_row_btn ">
            <button  class="button" style="float:right;" onclick="nextStage()">Kolejny krok</button>
            <button class="button"  onclick="block.addRow('top')">+ wiersz</button> 
        </div>
    </div>
</div>
    
    
<div class="container-flex">
    <div class="row">
        <div class="col-sm-12">
            <div id="page_block">
        
                <div class="block_row" >
                    <div class="block" style="width:100%;">

                        <div class="block-content">
                            <div class="block-col" style="width:20%;">           
                                <button class="button-col" onclick="block.join(this, 'left')"><</button>
                            </div>
                            <div class="block-col" style="width:60%;">
                                <div style="display:block; margin:0 auto; width: fit-content;">
                                    <button class="button-col" onclick="block.resizeWidth(this, 'left')">+</button>
                                    <button class="button-col" onclick="block.split(this)">||</button>
                                    <button class="button-col" onclick="block.resizeWidth(this, 'right')">+</button>
                                </div>
                            </div>
                            <div class="block-col" style="width:20%;">
                                <button class="button-col" style="float:right;" onclick="block.join(this, 'right')">></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-c">
    <div class="col">
        <div class="block_row_btn ">
                <button  class="button" onclick="block.addRow('bottom')">+ wiersz</button> 
                <button class="button" style="float:right;"onclick="nextStage()">Kolejny krok</button>             
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/stage/bootstrap/template.js') }}"></script>
{% endblock %}
