{% extends 'stages/bootstrap_framework/main.html.twig' %}

{% block stylesheets %}
<style>
    .block:hover {
        box-shadow: none;
    }
</style>
{% endblock %}

{% block body %}

{% include 'parts/stageBar.html.twig' with {'stage': 'view'} %}

<div class="row-c">
    <div class="col">
        <button class="button" onclick="generatePage();"> POBIERZ GOTOWĄ STRONĘ, na razie generuje tylko </button>
    </div>
</div>
<hr>
<div class="container-flex">
    <div class="row">
        <div class="col-sm-12">
            <div id="page_block">
                {% include 'page/content_bootstrap.html.twig' with {'params':params} %}
            </div>
            </div>
        </div>
    </div> 
</div>
<hr>
<div class="row-c">
    <div class="col">
        <button class="button" onclick="generatePage();"> POBIERZ GOTOWĄ STRONĘ, na razie generuje tylko </button>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/stage/bootstrap/view.js') }}"></script>
{% endblock %}
