
{% extends 'stages/bootstrap_framework/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/frameworks/bootstrap/widget.css') }}">
{% endblock %}

{% block body %}


{% include 'parts/stageBar.html.twig' with {'stage': 'widget'} %}

<div class="row-c" style="margin-bottom:10px;">
    <div class="col">

        <div class="block_row_btn">
            <button  class="button" style="float:right;" onclick="nextStage()">Kolejny krok</button>
        </div>
    </div>
</div>

<div style="clear: both;"></div>

<div id="main_panel">
    <span>
        <div id="sample_list" class="panel">
            <div class="btn-left"><button class="button" onclick="widgets.hide()" src="javascript:void(0);"><</button></div>
            <div class="btn-left" ><button class="button" onclick="widgets.changeSide()" src="javascript:void(0);">Przesuń panel</button></div>
            <div style="clear: both;"></div>

            <div id="panel_sample">
    
                {% for e in elements %}
                <div class="sample_row" sample_id="{{e.getId()}}">
                    <div class="sample_name">{{e.getName()}}</div>
                    <div class="sample_action">
                        <button class="button" style="padding: 4px 11px;" onclick="widgets.viewElement(this)">Podgląd</button>
                        <button class="button" onclick="widgets.putElement(this)">+</button>
                    </div>
                    <div class="sample_html" style="display:none;">{{e.getHtml() | raw}}</div>
                    
                </div> <br>
    
                {% endfor %}
            </div>
        </div>
        <div id="sample_view" class="panel" style="display:none;">
            <div class="btn-left" style="width:100%; margin-bottom: 5px;"><button class="button" onclick="widgets.viewElementHide()" ><</button></div>
            <hr>
            <div class="sample-view-content"></div>
        </div>
    </span>
</div>

<div class="container-flex" style="margin-top:10px;">

    <div class="row">
        <div class="col-sm-12">
            <div id="page_block">
                <div class="block_row" >
                    <div class="block" onclick="widgets.show(this);">
                        <!-- <button class="btn btn-default" onclick="widgets.show(this);">+</button> -->
                        <div class="widget_list"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>  <!-- .row -->

</div> <!-- .container -->

<div class="row-c">
    <div class="col">
        <div class="block_row_btn">
            <button  class="button" style="float:right;" onclick="nextStage()">Kolejny krok</button>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script >
        window.parameters = JSON.parse('{{params}}'.split('&quot;').join('"') );
    </script>
    <script src="{{ asset('build/stage/bootstrap/widget.js') }}"></script>
{% endblock %}
