<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="stylesheet" href="{{ asset('build/global.scss') }}"> #}
        <link rel="stylesheet" href="{{ asset('build/bootstrapcss.css') }}">
        {# <link rel="stylesheet" href="{{ asset('build/cover.css') }}"> #}

        {# <link rel="stylesheet" href="{{ asset('build/bootstrapcsstheme.css') }}"> #}
        <script src="{{ asset('build/app.js') }}"></script>
        {# <script src="{{ asset('build/slim.js') }}"></script> #}
        <script src="{{ asset('build/popper.js') }}"></script>
        <script src="{{ asset('build/bootstrapjs.js') }}"></script>
   
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include 'parts/menu.html.twig' %}
{# <div id="alert-info" class="panel"></div> #}

        {# <div class="container"> #}
        {% block body %}{% endblock %}
        {% include 'parts/footer.html.twig' %}


        {% block javascripts %}{% endblock %}
    </body>
</html>
