{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Glowna</h4>
        </div>
    </div>
</div>
{% endblock %}
