{% extends 'base.html.twig' %}


{% block body %}

<style>
    iframe {
        width:100%;
        height:600px;
        overflow: hidden;
    }
</style>

<iframe src="{{page}}" frameborder="0"></iframe>
{% endblock %}
