

  <footer class="footer">
      <div class="container">
        <span class="text-muted" style="display:block; text-align:center;">
        <hr>
        Damian @ Kreator Stron WWW</span>
      </div>
    </footer>