{# <div>
    <div style="float:right;">
        <a href="/login" class="btn btn-info">login</a> 
    <a href="/logout" class="btn btn-info">wyloguj sie</a> 
    </div>

    <a href="/stage/template" class="btn btn-info">ETAP 1 - stage/template</a> <br>
    <a href="/stage/widget" class="btn btn-info">ETAP 2 - stage/widget</a> <br>
    <a href="/stage/view" class="btn btn-info">ETAP 3 - stage/view</a> <br>

</div> #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"># index </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {# <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> #}
      {# <li class="nav-item ">
        <a class="nav-link" href="/stage/template">#</a>
      </li> #}
      <li class="nav-item">
        <a class="nav-link active" href="/create/template">ZACZNIJ TWORZYĆ STRONE WWW</a>
      </li>

    </ul>

    <ul class="navbar-nav  col-sm-2">
      {% if app.user %}
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Witaj, {{ app.user.username }}</a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Wyloguj się</a>
        </li>

      {% else %}
              <li class="nav-item text-nowrap">
            <a class="nav-link" href="/login">Zaloguj się</a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/register">Rejestracja</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>


