<div class="main-bar">
    <div class="main-bar-content">
        <div class="main-bar-text title-one" >
            <a href="/stage/template" {% if stage == 'template'%}class="current-stage"{% endif %}>Szablon</a>
        </div>
        <div class="main-bar-text" >
            <span class="main-bar-sign">></span>
        </div>

        <div class="main-bar-text title-two" >
            <a href="/stage/widget" {% if stage == 'widget'%}class="current-stage"{% endif %}>Widgets</a>
        </div>
        <div class="main-bar-text" >
            <span class="main-bar-sign">></span>
        </div>
        <div class="main-bar-text title-three">
            <a href="/stage/view" {% if stage == 'view'%}class="current-stage"{% endif %}>Widok</a>
        </div>
    </div>
</div>